/* import 파일 순서 중요!! */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/* Components - 재사용 가능한 css는 components로 만든다.*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
/* 참고로 chat은 components로만 이루어져서 따로 css파일이 없고 html만 있음
 */
@import "screens/find.css";

/* 모든 스크린에 적용될 수 있는 스타일을 styles.css에 써놓는다. */
body {
  font-family: "Open Sans ", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
